@mixin overflow-auto($direction: 'both') {
  @if $direction == 'both' {
    overflow: auto;
  } @else {
    overflow-#{$direction}: auto;
  }
  -webkit-overflow-scrolling: touch;
}

@mixin clear-float {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

$font-size-s: 12px;

.features {
  padding-bottom: 40px;
  padding-top: 5px;
  ul {
    @include overflow-auto(y);
    @include clear-float();
    height: 100%;
    li {
      width: 33.3%;
      float: left;
      padding: 5px;
      .inner-wrapper {
        @include overflow-auto(x);
        font-size: $font-size-s;
        text-decoration: underline;
        display: block;
        padding: 10px;
        text-align: center;
        color: var(--console-error-foreground);
        background: var(--console-error-background);
        border: 1px solid var(--console-error-border);
        &.ok {
          background: var(--darker-background);
          border: 1px solid var(--border);
          color: var(--foreground);
        }
      }
    }
  }
  .html5test {
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--fore-ground);
    border-top: 1px solid var(--border);
    width: 100%;
    background: var(--darker-background);
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    &:active {
      color: var(--select-foreground);
    }
  }
}
